<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BeepRoger-Grocery List</title>
	<link href="style.css" rel="stylesheet"/>
</head>
<body>

<div id='grocery-list'>
	<div id='info-part'>
		<div id='left-info-part' class="nFontSize"><p>Grocery list</p></div>
		<div id='right-info-part'>
			<div id='list-info-togo'> <p class="a-right">{{togo}}</p> <p class="smaller">ToGo</p> </div>
			<div id='list-info-done'> <p class="a-right">{{done}}</p> <p class="smaller">Done</p> </div>
		</div>
	</div>
	<div id='list-part'>

		<ul id='list-entries' class="fDenseR">
			<li is="grocery-list-entry" v-for="(entry, i) in groceryList" :i="i" :key="entry.id" :entry="entry" :imgsrc="whichSrc(entry.done)" @switch="switchState(entry)" @delete="deleteEntry(entry)"></li>
		</ul>
		
		<footer>
			<p class="smaller fDenseR">Total items {{gListLength}}</p>
			<button @click="addItemToGrocery" id="addButton"></button>
			<div class="f-right">
				<input v-model="agitem"  @keyup.enter='addItemToGrocery' maxlength="30" :placeholder="addPlaceholder">
			</div>
		</footer>

	</div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
	var groceryListEntry = 	{
		props: ['entry', 'imgsrc'],
		template: `
			<li class="list-entry" :class="{checked : entry.done}">
				<img class='checkImg' @click="$emit('switch')" :src='imgsrc'/>
				<img class='deleteImg trans' src='graphics/bin.png' @click="$emit('delete')" />
				<p>{{entry.item}}</p>
			</li>
		`
	};

	var lp = new Vue({
		el: '#list-part',
		data: {
			id: 0,
			agitem: '',
			addPlaceholder: 'Name item to add.',
			gListLength: 0,
			// groceryList: []
			groceryList: [{id:0,item:'mlieko',done:false}]
		},
		methods:{
			switchState: function(entry){
				entry.done = !entry.done;
				this.updateSizes();
			},
			deleteEntry: function(entry){
				var index = this.groceryList.indexOf(entry);
				if( index !== -1){
					this.groceryList.splice(index, 1);
				}
				this.updateSizes();
			},
			whichSrc: function(done){
				if(done){
					return 'graphics/done.png'
				}else{
					return 'graphics/togo.png'
				}
			},
			addItemToGrocery: function(){
				if(this.agitem === ''){
					this.addPlaceholder = 'Write something here.';
				}else{
					this.groceryList.push({id: this.id, item: this.agitem, done: false});
					this.id++;
					this.agitem = '';
					this.addPlaceholder = 'Name item to add.';
					this.updateSizes();
				}
			},
			updateSizes: function(){
				this.gListLength = this.groceryList.length;

				var done = 0, togo = 0;

				this.groceryList.forEach(function(item){
					if(item.done === true){
						done++;
					}else{
						togo++;
					}
				});

				rip.togo = togo;
				rip.done = done;
				}
		},
		components: {
			'grocery-list-entry': groceryListEntry
		}
	});

	var rip = new Vue({
		el: '#right-info-part',
		data: {
			togo: 0,
			done: 0
		}
	});
</script>
</body>
</html>