*{padding: 0; margin:0;}

html, body {
	height: 100%;
	overflow: auto;
}

body{
	background-color: #3e2824;
}

/*Fonts declaration*/
@font-face {
    font-family: BebasNeueR;
    src: url('graphics/BebasNeueRegular.otf');
}
@font-face {
    font-family: BebasNeueL;
    src: url('graphics/BebasNeueLight.otf');
}
@font-face {
    font-family: DenseRegular;
    src: url('graphics/Dense-Regular.woff2');
}

/*Container*/
#grocery-list{
	margin: 5% auto;
	width: 20%;
	height: 70%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Top part*/
#info-part{
	width: 100%;
	height: 35%;
	background-image: url('graphics/background.jpg');
	background-size: cover;
	overflow: hidden;
	position: relative;
}
#left-info-part{
	bottom: 0;
	width: 55%;
	position: absolute;
}
#left-info-part	p{
	padding: 0 4%;
	color: white;
	font-family: BebasNeueR;
	font-size: 2.5em;
}
#right-info-part{
	width: 45%;
	height: 100%;
	float: right;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	/*xy*/
	justify-content: center;
	align-items: center;
}
#list-info-togo, #list-info-done{
	padding: 0 5%;
}
#right-info-part p{
	color: white;
	font-family:BebasNeueL;
}
#list-info-togo	p, #list-info-done p{
	font-size: 3em;
	opacity: .9;
}
p.smaller{
	font-size: 1.5em !important;
	opacity: .5 !important;
}
p.a-right{
	text-align: right;
}

/*Bottom part*/
#list-part{
	width: 100%;
	height: 65%;
	background-color: white;
}
#list-entries{
	width: 100%;
	height: 90%;
	overflow: auto;
}
/*Bottom-List entry*/
.list-entry{
	width: 100%;
	height: 20%;
  display: flex;
  align-items: center;
}
.list-entry img{
	width: 17%;
	opacity: .7;
}
.list-entry p{
	font-size: 2em;
}

/*Footer*/
#list-part footer{
	width: 100%;
	height: 10%;
}
#addButton{
	position: relative;
	top: -100%;
	right: 5%;
	width: 55px;
	height: 55px;
	float: right;
	border-width: 0;
	background: url('graphics/add.png');
	background-size: contain;
	background-repeat: no-repeat;
}
footer p{
	padding: 0 3%;
	float: left;
	color: #615547;
}

/*Add Input*/
input{
	font-family:  DenseRegular;
	font-size: 1.5em;
	border-width: 0 0 1px 0;
	border-color: rgba(0, 0, 0, .3);
}

/*Leftover*/
.fDenseR{
	/* .list-entries | footer p */
	font-family: DenseRegular;
}